<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Cat</title>
</head>
<body>
    <h1><%=cat.name%></h1>
    <p> <%= cat.name%> is <%=cat.age%> years old! her meow is <%= cat.meow %> </p>
    <%if (cat.isCute){ %>
        <p>it is very cute!!!</p>
    <%} else { %>
        <p>it is a bit ugly in a good way</p>
    <% } %>
    <form action="/cats/<%=cat._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= cat.name %></button>
    </form>
    <a href="/cats/<%= cat._id %>/edit">Edit <%= cat.name %></a>
    <a href="/cats/">Back to Cats</a>
</body>
</html>